backend/.env
backend/.env.local
backend/.env.production

frontend/.env
frontend/.env.local
frontend/.env.production

backend/node_modules/
frontend/node_modules/
backend/bun.lockb
frontend/bun.lockb

*.log
